<div class="row">
    <div class="card shadow-2-strong px-4 py-5">
        <img src="../../../assets/pictures/imagen-FCB 1.png" class="card-img w-50 img-fluid" alt="imagen-FCB">
        <div class="card-body">
            <h2 class="card-title mb-5 text-primary">Bienvenido a la plataforma</h2>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="form-outline">
                    <input type="text" id="formControlDefault" class="form-control" formControlName="email" placeholder="Correo*">
                    <label class="form-label" for="formControlDefault"><i class="far fa-envelope-open"></i></label>
                </div>
                <div class="form-outline">
                    <input type="password" id="typePassword" class="form-control" formControlName="password" placeholder="Contraseña*" >
                    <label class="form-label" for="typePassword"><i class="fas fa-unlock-alt"></i></label>
                </div>
                <input class="col-12 btn btn-primary" type="submit" value="Iniciar sesión">
            </form>
        </div>
    </div>
</div>
